In [1]:
import findspark
findspark.init('/home/yerke/spark-3.3.0-bin-hadoop3')

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [5]:
df = spark.read.json('../course_data/people.json')

In [6]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [12]:
data_schema = [StructField('age', IntegerType(), True), 
               StructField('name', StringType(), True)]

In [13]:
final_struc = StructType(fields=data_schema)

In [14]:
df = spark.read.json('people.json', schema=final_struc)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [17]:
type(df['age'])

pyspark.sql.column.Column

In [18]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [25]:
df.head(2)[0]

Row(age=None, name='Michael')

In [26]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [27]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [28]:
df.withColumn('neqage', df['age']).show()

+----+-------+------+
| age|   name|neqage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [29]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+------+
| age|   name|neqage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [31]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [33]:
df.withColumnRenamed('age', 'renamed_age').show()

+-----------+-------+
|renamed_age|   name|
+-----------+-------+
|       null|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

In [36]:
df.createOrReplaceTempView('people')

In [37]:
results = spark.sql("SELECT * FROM people")

In [38]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [40]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+